@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family:"Poppins"sans-serif;
}

body{
    background-color:orange;
}

main{
    width:90%;
    margin:0px auto;
    background-color:white;
}

header{
    border-bottom:0px solid gainsboro;
}

header nav {
    float:left;
}

.felight {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
}

.felight a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
}

.felight a:hover {
  color: pink;
}

.felight .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


aside nav  div{
    width:10px;
    height:10px;
    background-color:black;
    margin:1px 0;
}

aside nav div  {
    margin:1px 10px;
}

aside nav div  ul li {
    list-style:none;
}

aside nav div  ul li a{
    text-decoration:none;
    padding:5px;
    display:block;
    color:blue;
}

aside nav div  ul li a:hover{
    background-color:white;
    color:black;
}

.logo { 
    padding: 20px 10px;

}
nav div{
    margin-bottom:300px;
}

nav div ul {
    padding:20px 10px;
    list-style:none;
    display:inline;
}

nav div ul li {
    list-style:none;
    display:inline;
}

nav div ul li a {
    text-decoration:none;
    color:crimson;
    padding:30px;
}

.active {
    color:cyan;
}

.clear: {
    clear:both;
}

.Sign {
    background-color:skyblue;
    color:blue;
    border-radius:60px;
}

nav div ul li a:hover{
    color:black;
    border-bottom:5px,solid,black;
}

footer{
    clear:both;
    background-color:gainsboro;
    text-align:left;
    padding:50px 50px;border-bottom:1px solid white;
}

footer ul{
    list-style:none;

}

footer ul li {
    list-style:none;
    display:block;
    padding:10px;
}

footer ul li a{
    text-decoration:none;
    padding:10px;
}

footer ul li a:hover{
    background-color:white;
}